<!DOCTYPE html>
<html lang="pl">
<head>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('https://kit.fontawesome.com/34d5627880.js') }}" crossorigin="anonymous"></script>
    {% endblock %}
    <meta charset="UTF-8">
    <title>Terapeuci</title>
</head>
<body>
<div class="base-container">
    {% include("shared/navbar.html.twig") %}
    <main>
        <div class="search-bar">
            <p>SZUKAJ:</p>
            <input placeholder="Imie i nazwisko">
            <form>
                <ul>
                    <li><a href="add_therapist">DODAJ TERAPEUTE</a> </li>
                </ul>
            </form>
        </div>
        <div class="user_list">
            <ul>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/01.jpg') }}">Therapist 1</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/02.jpg') }}">Therapist 2</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/03.jpg') }}">Therapist 3</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/04.jpg') }}">Therapist 4</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/33.jpeg') }}">Therapist 5</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/47.jpg') }}">Therapist 6</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/95.jpg') }}">Therapist 7</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/96.jpg') }}">Therapist 8</a></li>
                <li><a href="#" class="therapist_button"><img src="{{ asset('img/47.jpg') }}">Therapist 9</a></li>
            </ul>

        </div>
    </main>
</div>
</body>
</html>